[package]
name = "xorsum"
version = "3.1.3"
edition = "2021"
description = "Get XOR hash/digest with this command-line tool"
keywords = ["checksum", "hash", "xor", "file", "data"]
categories = ["command-line-utilities", "algorithms"]
license = "Unlicense"
repository = "https://github.com/Rudxain/xorsum"

[dependencies]
clap = { version = "3.2.12", features = ["derive"] }

[profile.release]
strip = true
lto = true
codegen-units = 1